/* body {
  background-color: papayawhip;
} */

img {
  height: 300px;
  width: 100%;
}

/* .photo-card {
  width: 100%;
} */

.list-item {
  width: 300px;
  height: 100%;
  margin: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.btnLoadMore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 30px;
}

.btnLoadMore.is-hidden {
  display: none;
}

.photo-card {
  display: flex;
  flex-direction: column;
}

.stats {
  line-height: 1.2;
  flex-grow: 1;
}
.stats-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.stats-item i {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 24px;
}
